/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
    width: 600px;
    height: 300px;
    object-fit: cover;
}
/* 
    GENERAL
*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: lightcoral;
    height: 100vh;
    padding-top: 200px;
    position: relative;
}


.img-container{
    width: 600px;
    height: 300px;
    margin: 0 auto;
    display: none;
}

.my-img{
    width: 600px;
    height: 300px;
    object-fit: cover;
    
}

.img-container.active{
    display: block;
}

.prev{
    background-color: aliceblue;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    padding-top: 2px;
    position: absolute;
    top: 220px;
    left: 500px;
    
}

.next{
    background-color: aliceblue;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    padding-top: 2px;
    position: relative;
    top: 300px;
    left: 500px;
    
}